:root {
  --color-text: #3c3849;
  --color-muted: #adabb4;
  --color-primary: #f16b6b;
}

* {
  box-sizing: border-box;
  outline: 1px solid green;
}

body {
  color: var(--color-text);
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Avenir";
  overflow: hidden;
}

.logo {
  width: 120px;
  height: auto;
  fill: #CB2D2D;
}

.card {
  background: #f6fffe;
  border-radius: 30px;
  width: 100%;
  min-height: 90vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 80px 100px rgb(0 0 0 / 15%);
}

.image {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 35vh;
}

.image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1 1 50%;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.content > img {
  height: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 40px;
  color: var(--color-muted);
}

form {
  display: grid;
  gap: 12px;
  width: 100%;
}

label {
  color: var(--color-muted);
}

input,
button {
  font-size: 16px;
  font-family: inherit;
  padding: 0 16px;
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 8px;
}

.password-box {
  position: relative;
}

.login-eye {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--color-muted);
  cursor: pointer;
}

.textbox {
  position: relative;
}

label,
input {
  transition: 0.3s;
}

.textbox label {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
  transform-origin: 0 50%;
  pointer-events: none;
  color: var(--color-muted);
}

.textbox input {
  padding-top: 10px;
  background: #f6f6fb;
  outline: none;
  color: inherit;
  box-shadow: 0 0 0 2px transparent;
}

.textbox input:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.textbox input:is(:focus, :not(:invalid)) ~ label {
  scale: 0.725;
  translate: 0 -112%;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  color: #f9f9f9;
}

.content > p {
  margin-top: 30px;
  color: var(--color-muted);
}

.content > p > a {
  color: var(--color-primary);
}

@media (width >= 780px) {
  .card {
    width: 85%;
    padding-right: 0;
    flex-direction: row;
    align-items: center;
  }

  .image {
    width: 45%;
    height: auto;
    align-self: stretch;
  }

  .image > img {
    height: 100%;
  }

  .content {
    align-items: flex-start;
    padding: 0 32px 20px;
  }

  .content > img {
    margin-top: 60px;
  }
}

@media (min-width: 780px) {
  .card {
    flex-direction: row;
    padding-right: 0;
  }

  .image {
    width: 60%;
    height: auto;
  }

  .content {
    width: 40%;
    padding: 0 40px;
    align-items: flex-start;
    justify-content: center;
  }

  .content img {
    margin-top: 0;
  }
}


@media (max-width: 779px) {
  .card {
    justify-content: flex-start;
  }

  .content {
    margin-top: -60px;
    background: #f6fffe;
    border-radius: 24px;
    padding: 32px 24px;
    width: 100%;
    z-index: 2;
  }
}
