.aside-sidebar{

  position: relative;
  z-index: 0;
}

.aside-sidebar::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to bottom,
      #f6fffe,
      #f6fffe83,
      rgba(124, 124, 124, 0.616)
  );
  pointer-events: none;   /* no bloquea clics */
  backdrop-filter: blur(2px);
  z-index: 0;
}

.aside-sidebar *{
  position: relative;
  z-index: 1;
}

.aside-sidebar .nav-link {
  color: #252525 !important;
  font-weight: 600;
}

.aside-sidebar .nav-link.active {
  background: #ff383852;
  border-radius: 10px;
  position: relative;
}

.aside-sidebar .nav-link.active::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 65%;
  border-radius: 10px;
  background: linear-gradient(135deg, #CB2D2D, #E84E4E);
}


.img-logo-aside{
  width: 80px;
  height: auto;
}

.lbl-as-pendientes{
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: -10px;
}

.lbl-as-personalizados{
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
}